@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply bg-slate-100 dark:bg-[#1d1f31] scroll-smooth dark:text-gray-200 text-gray-900;
    }
}

@layer utilities {
    .nav-item {
        @apply cursor-pointer;
    }
    .custom-h1 {
        @apply text-2xl md:text-3xl lg:text-4xl font-semibold dark:text-gray-200;
    }
    .theme-but {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
}