@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        @apply scroll-smooth;
    }

    body{
        @apply bg-slate-100 dark:bg-[#1d1f31] scroll-smooth dark:text-gray-200 text-gray-900;
    }
}

@layer utilities {
    .nav-item {
        @apply cursor-pointer;
    }
    .custom-h1 {
        @apply text-2xl md:text-3xl lg:text-4xl font-semibold dark:text-gray-200;
    }
    .theme-but {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
    .contact-item {
        @apply text-gray-600 hover:text-gray-900 flex items-center space-x-3
        dark:text-gray-300 dark:hover:text-white;
    }
    /*for background blobs */


    .animation-delay-4000 {
        animation-delay: 4s;
    }
    .animation-delay-7000 {
        animation-delay: 7s;
    }

}